body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:url("../bg/paper.png") repeat;
    background-size:512px;
    font-family:Arial, Helvetica, sans-serif;
}
