*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#15131f;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    overflow:hidden;

}

.background{

position:fixed;
inset:0;

background:
radial-gradient(circle at 20% 30%,#5c3df533 0%,transparent 25%),
radial-gradient(circle at 80% 70%,#ff67b333 0%,transparent 25%),
radial-gradient(circle at center,#26213f,#15131f);
}

.login-card{

position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
width:420px;
padding:45px;
border-radius:28px;
background:#241f39;
border:3px solid #5c3df5;
box-shadow:
0 0 40px #0008;
text-align:center;

}
h1{
font-size:52px;
margin-bottom:10px;
}

p{
color:#b9b2d7;
margin-bottom:30px;

}
button{
width:100%;
padding:16px;
font-size:18px;
border:none;
border-radius:16px;
background:#6d54ff;
color:white;
cursor:pointer;
transition:.25s;
}
button:hover{
transform:translateY(-2px);
background:#816cff;

}
